.logo {
    background: red;
    width: 220px;
    height: 47px;
    text-align: center;
    line-height: 47px;
}

.item__old-price_show_true {
    text-decoration: line-through;
}

.footer__social-links {
    list-style-type: none;
}

.footer__social-links li {
    background-color: #212a3a;
}
